@import '../../../colors.css';

.Loader {
    text-align: center;
    margin: auto;
}

.Loader h2 {
    font-size: 2.5em;
    color: var(--orange);
}

.Loader p {
    font-size: 1.4em;
    font-weight: bold;
}
